.App {
  text-align: center;
}

.App-header {
  height: 90px;
  padding: 30px;
  color: #000;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.App-title {
  font-size: 5rem;
  font-family: 'Titillium Web', sans-serif;
}
